<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>黄浦</key>
	<array>
		<string>外滩街道</string>
		<string>南京东路街道</string>
		<string>半淞园路街道</string>
		<string>小东门街道</string>
		<string>老西门街道</string>
		<string>豫园街道</string>
		<string>打浦桥街道</string>
		<string>淮海中路街道</string>
		<string>瑞金二路街道</string>
		<string>五里桥街道</string>
	</array>
	<key>徐汇</key>
	<array>
		<string>湖南路街道</string>
		<string>天平路街道</string>
		<string>枫林路街道</string>
		<string>徐家汇街道</string>
		<string>斜土路街道</string>
		<string>长桥街道</string>
		<string>漕河泾街道</string>
		<string>康健新村街道</string>
		<string>虹梅路街道</string>
		<string>田林街道</string>
		<string>凌云路街道</string>
		<string>龙华街道</string>
		<string>华泾镇</string>
	</array>
	<key>长宁</key>
	<array>
		<string>华阳路街道</string>
		<string>新华路街道</string>
		<string>江苏路街道</string>
		<string>天山路街道</string>
		<string>周家桥街道</string>
		<string>虹桥街道</string>
		<string>仙霞新村街道</string>
		<string>程家桥街道</string>
		<string>北新泾街道</string>
		<string>新泾镇</string>
	</array>
	<key>静安</key>
	<array>
		<string>江宁路街道</string>
		<string>静安寺街道</string>
		<string>南京西路街道</string>
		<string>曹家渡街道</string>
		<string>石门二路街道</string>
	</array>
	<key>普陀</key>
	<array>
		<string>长寿路街道</string>
		<string>曹杨新村街道</string>
		<string>长风新村街道</string>
		<string>宜川路街道</string>
		<string>甘泉路街道</string>
		<string>石泉路街道</string>
		<string>真如镇</string>
		<string>长征镇</string>
		<string>桃浦镇</string>
	</array>
	<key>闸北</key>
	<array>
		<string>天目西路街道</string>
		<string>北站街道</string>
		<string>宝山路街道</string>
		<string>芷江西路街道</string>
		<string>共和新路街道</string>
		<string>大宁路街道</string>
		<string>彭浦新村街道</string>
		<string>临汾路街道</string>
		<string>彭浦镇</string>
	</array>
	<key>虹口</key>
	<array>
		<string>四川北路街道</string>
		<string>提篮桥街道</string>
		<string>欧阳路街道</string>
		<string>广中路街道</string>
		<string>凉城新村街道</string>
		<string>嘉兴路街道</string>
		<string>曲阳路街道</string>
		<string>江湾镇街道</string>
	</array>
	<key>杨浦</key>
	<array>
		<string>定海路街道</string>
		<string>大桥街道</string>
		<string>平凉路街道</string>
		<string>江浦路街道</string>
		<string>控江路街道</string>
		<string>殷行街道</string>
		<string>长白新村街道</string>
		<string>延吉新村街道</string>
		<string>五角场街道</string>
		<string>四平路街道</string>
		<string>新江湾城街道</string>
		<string>五角场镇</string>
	</array>
	<key>闵行</key>
	<array>
		<string>江川路街道</string>
		<string>古美街道</string>
		<string>新虹街道</string>
		<string>莘庄镇</string>
		<string>七宝镇</string>
		<string>浦江镇</string>
		<string>梅陇镇</string>
		<string>虹桥镇</string>
		<string>马桥镇</string>
		<string>吴泾镇</string>
		<string>华漕镇</string>
		<string>颛桥镇</string>
	</array>
	<key>宝山</key>
	<array>
		<string>吴淞街道</string>
		<string>张庙街道</string>
		<string>友谊路街道</string>
		<string>庙行镇</string>
		<string>罗店镇</string>
		<string>大场镇</string>
		<string>顾村镇</string>
		<string>罗泾镇</string>
		<string>杨行镇</string>
		<string>月浦镇</string>
		<string>淞南镇</string>
		<string>高境镇</string>
	</array>
	<key>嘉定</key>
	<array>
		<string>嘉定镇街道</string>
		<string>新成路街道</string>
		<string>真新街道</string>
		<string>马陆镇</string>
		<string>南翔镇</string>
		<string>江桥镇</string>
		<string>安亭镇</string>
		<string>外冈镇</string>
		<string>徐行镇</string>
		<string>华亭镇</string>
	</array>
	<key>浦东</key>
	<array>
		<string>潍坊新村街道</string>
		<string>陆家嘴街道</string>
		<string>塘桥街道</string>
		<string>周家渡街道</string>
		<string>东明路街道</string>
		<string>洋泾街道</string>
		<string>上钢新村街道</string>
		<string>沪东新村街道</string>
		<string>金杨新村街道</string>
		<string>浦兴路街道</string>
		<string>南码头路街道</string>
		<string>花木街道</string>
		<string>川沙新镇</string>
		<string>合庆镇</string>
		<string>曹路镇</string>
		<string>高东镇</string>
		<string>高桥镇</string>
		<string>高行镇</string>
		<string>金桥镇</string>
		<string>张江镇</string>
		<string>唐镇</string>
		<string>北蔡镇</string>
		<string>三林镇</string>
		<string>惠南镇</string>
		<string>新场镇</string>
		<string>大团镇</string>
		<string>周浦镇</string>
		<string>航头镇</string>
		<string>康桥镇</string>
		<string>宣桥镇</string>
		<string>祝桥镇</string>
		<string>泥城镇</string>
		<string>书院镇</string>
		<string>万祥镇</string>
		<string>老港镇</string>
		<string>南汇新城镇</string>
	</array>
	<key>金山</key>
	<array>
		<string>石化街道</string>
		<string>枫泾镇</string>
		<string>亭林镇</string>
		<string>漕泾镇</string>
		<string>山阳镇</string>
		<string>金山卫镇</string>
		<string>张堰镇</string>
		<string>廊下镇</string>
		<string>吕巷镇</string>
	</array>
	<key>松江</key>
	<array>
		<string>岳阳街道</string>
		<string>中山街道</string>
		<string>永丰街道</string>
		<string>方松街道</string>
		<string>九亭镇</string>
		<string>泗泾镇</string>
		<string>泖港镇</string>
		<string>车墩镇</string>
		<string>洞泾镇</string>
		<string>叶榭镇</string>
		<string>新桥镇</string>
		<string>石湖荡镇</string>
		<string>新浜镇</string>
		<string>佘山镇</string>
		<string>小昆山镇</string>
	</array>
	<key>青浦</key>
	<array>
		<string>夏阳街道</string>
		<string>盈浦街道</string>
		<string>香花桥街道</string>
		<string>赵巷镇</string>
		<string>徐泾镇</string>
		<string>华新镇</string>
		<string>重固镇</string>
		<string>白鹤镇</string>
		<string>朱家角镇</string>
		<string>练塘镇</string>
		<string>金泽镇</string>
	</array>
	<key>奉贤</key>
	<array>
		<string>南桥镇</string>
		<string>庄行镇</string>
		<string>金汇镇</string>
		<string>柘林镇</string>
		<string>青村镇</string>
		<string>奉城镇</string>
		<string>四团镇</string>
		<string>海湾镇</string>
	</array>
	<key>崇明</key>
	<array>
		<string>城桥镇</string>
		<string>堡镇</string>
		<string>庙镇</string>
		<string>中兴镇</string>
		<string>新河镇</string>
		<string>三星镇</string>
		<string>向化镇</string>
		<string>绿华镇</string>
		<string>建设镇</string>
		<string>陈家镇</string>
		<string>竖新镇</string>
		<string>港西镇</string>
		<string>港沿镇</string>
		<string>新海镇</string>
		<string>东平镇</string>
		<string>长兴镇</string>
		<string>新村乡</string>
		<string>横沙乡</string>
	</array>
</dict>
</plist>
